In [1]:
import pandas as pd
import numpy as np
from numpy import interp
import matplotlib.pyplot as plt
from itertools import cycle

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize

import warnings
warnings.filterwarnings("ignore")

# 1. Load datasets

In [2]:
df = pd.read_json("train.json")

In [3]:
df.head(1)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium

# 2. Transform "created" column to numeric features

In [4]:
df["created"] = pd.to_datetime(df["created"])
df["created_year"] = df["created"].dt.year
df["created_month"] = df["created"].dt.month
df["created_day"] = df["created"].dt.day

# 3. Extract numeric features and label

In [5]:
numeric_features = ["bathrooms", "bedrooms", "latitude", "longitude", "price", "created_year", "created_month", "created_day"]

target_num_map = {'high':0, 'medium':1, 'low':2}
target_names = ['high', 'medium', 'low']

X = df[numeric_features]
y = np.array(df['interest_level'].apply(lambda x: target_num_map[x]))

# 4. Split train and test set

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# 5. Train and test

## 5.1 Random forest

## 5.2 Support Vector Machine

## 5.3 Ada Boost